<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item"><a class="active" href="/">Shop</a></li>
        <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{#if hasProducts }}
      <div class="grid">
        {{#each prods }}
          <article class="card product-item">
            <header class="card__image">
              <h1 class="product__title">{{ this.title }}</h1>
            </header>
            <div class="card__image">
              <img src="https://rukminim1.flixcart.com/image/416/416/k1mgu4w0/book/6/4/9/20th-century-boys-the-perfect-edition-vol-4-original-imafh4y9whm8fmyt.jpeg?q=70" alt="A Book">
            </div>
            <div class="card__content">
              <h2 class="product__price">$19.99</h2>
              <p class="product__discription"> A Shelf of Books </p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
          {{/each }}
      </div>
    {{else }}
      <h1>No Products Found</h1>
    {{/if}}
  </main>
</body>
</html>
