<%- include("includes/head.ejs")%>
</head>
<body>
  <%- include("includes/navigation.ejs") %>
  <main>
    <% if(prods.length > 0){ %>
    <div class="grid">
      <% for(let product of prods){ %>
        <article class="card product-item">
          <header class="card__image">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <img src="https://rukminim1.flixcart.com/image/416/416/k1mgu4w0/book/6/4/9/20th-century-boys-the-perfect-edition-vol-4-original-imafh4y9whm8fmyt.jpeg?q=70" alt="A Book">
          </div>
          <div class="card__content">
            <h2 class="product__price">$19.99</h2>
            <p class="product__discription"> A Shelf of Books </p>
          </div>
          <div class="card__actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
      <% } %>
    </div>
    <% } else { %>
      <h1>No Products Found</h1>
    <% } %>
  </main>
<%- include("includes/end.ejs") %>
