doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")  
    link(rel="stylesheet", href="/css/product.css")  
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/") Shop
          li.main-header__item
            a(href="/admin/add-product") Add Product
    main
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            div.card__image
              img(src="https://rukminim1.flixcart.com/image/416/416/k1mgu4w0/book/6/4/9/20th-century-boys-the-perfect-edition-vol-4-original-imafh4y9whm8fmyt.jpeg?q=70", alt="A Book")
            div.card__content
              h2.product__price $19.99
              p.product__discription A Shelf of Books
            div.card__actions
              button.btn Add to Cart
